

@{
    Layout = "~/Views/Shared/LayoutUsuarioCliente.cshtml";
}





<title>IncaBaths</title>
<!-- Favicon -->
<link rel="shortcut icon" type="image/icon" href="~/imagenes/favicon.ico" />
<!-- Font Awesome -->


<!-- Slick slider -->
<link rel="stylesheet" type="text/css" href="~/Intensely/assets/css/slick.css" />


<!-- Theme color -->
<link id="switcher" href="~/Intensely/assets/css/theme-color/default-theme.css" rel="stylesheet">

<!-- Main Style -->
<link href="~/Intensely/style.css" rel="stylesheet">




<!-- Start slider -->
<section id="slider">
    <div class="main-slider">
        <div class="single-slide">

            <img src="~/Imagenes/hidromasaje.jpg" alt="img">
            <div class="slide-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <div class="slide-article">
                                <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">HIDROMASAJES</h1>
                                <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">
                                    Contiene aguas termales que poseen propiedades medicinales para tu cuerpo y piel.
                                    Son super buenos y relajantes
                                </p>

                            </div>
                        </div>

                        <div class="fil-md-6 col-sm-4 ">
                            <div class="center-block">
                                <div class="slider-img wow fadeInUp">

                                    <img src="~/Imagenes/hidromasaje1.jpg" alt="business man" class="center-block">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide">
            <img src="~/Imagenes/masaje.jpg" alt="img">
            <div class="slide-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="slide-article">
                                <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">MASAJES</h1>
                                <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">
                                    Promueve la relajación completa que estan centrados en
                                    Masajes reductores y localizados que le devuelven la vitalidad en función muscular y reducir la tensión.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-2">
                            <div class="slider-img wow fadeInUp">
                                <img src="~/Imagenes/masaje1.jpg" alt="business man">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide">
            <img src="~/Imagenes/sauna.jpg" alt="img">
            <div class="slide-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="slide-article">
                                <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">SAUNA</h1>
                                <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">
                                    Baños de vapor o sudoración con plantas medicinales
                                    y aromáticas de la región que procuran bienestar integral.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="slider-img wow fadeInUp">
                                <img src="~/Imagenes/sauna1.jpg" alt="business man">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="single-slide">
            <img src="~/Imagenes/pozas.jpg" alt="img">
            <div class="slide-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="slide-article">
                                <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Pozas</h1>
                                <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">
                                    Las Pozas posee aguas con propiedades medicinales para la cura de enfermedades reumáticas, afecciones nerviosas y de la piel.
                                    Contiene 6 tipos de pozas:
                                    <br>
                                    *Poza Imperial
                                    <br>
                                    *Poza Exclusiva
                                    <br>
                                    *Poza Ninac Yaku
                                    <br>
                                    *Poza Pultumarka
                                    <br>
                                    *Poza Huayrapongo
                                    <br>
                                    *Poza Familiar
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 >
                            <div class="slider-img wow fadeInUp">
                                <h6>Poza Imperial</h6>
                                <img src="~/Imagenes/PozaImperial.png" alt="business man">
                            </div>
                            <div class="col-md-2 col-sm-3>
                                <div class="slider-img wow fadeInUp">
                                    <h6>Poza Ninac Huayrapongo</h6>
                                    <img src="~/Imagenes/PozaHuayrapongo.png" alt="business man">

                                </div>
                                <div class="col-md-2 col-sm-2 >
                                    <div class="slider-img wow fadeInUp">
                                        <h6>Poza Exclusiva</h6>
                                        <img src="~/Imagenes/PozaExclusiva.png" alt="business man">
                                    </div>
                                    <div class="col-md-2 col-sm-2>
                                        <div class="slider-img wow fadeInUp">
                                            <h6>Poza Ninac Yaku</h6>
                                            <img src="~/Imagenes/NinacYaku.png" alt="business man">
                                        </div>
                                        <div class="col-md-2 col-sm-2 >
                                            <div class="slider-img wow fadeInUp">
                                                <h6>Poza Ninac Pultumarka</h6>
                                                <img src="~/Imagenes/PozaPultumarka.png" alt="business man">
                                            </div>
                                            <div class="col-md-2 col-sm-2 >
                                                <div class="slider-img wow fadeInUp">
                                                    <h6>Poza Familiar</h6>
                                                    <img src="~/Imagenes/PozaFamiliar.png" alt="business man">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-slide">
                                    <img src="~/Imagenes/piscina Terminal.jpg" alt="img">
                                    <div class="slide-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="slide-article">
                                                        <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">PISCINA TERMAL</h1>
                                                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Piscina termal temperada semiolímpica ideal para el deporte y recreación. </p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="slider-img wow fadeInUp">
                                                        <img src="~/Imagenes/piscinaTerminal1.jpg" alt="business man">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-slide">
                                    <img src="~/Imagenes/duchas1.png" alt="img">
                                    <div class="slide-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="slide-article">
                                                        <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">DUCHAS</h1>
                                                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Piscina termal temperada semiolímpica ideal para el deporte y recreación. </p>

                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-7">
                                                    <div class="slider-img wow fadeInUp">
                                                        <img src="~/Imagenes/duchas1.png" alt="business man">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-slide">
                                    <img src="~/Imagenes/visita.png" alt="img">
                                    <div class="slide-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="slide-article">
                                                        <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">VISITA</h1>
                                                        <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Para conocer el Pozo del Inca, las fuentes termales, la zona arqueológica y algunos de nuestros servicios. </p>

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="slider-img wow fadeInUp">
                                                        <img src="~/Imagenes/visita1.png" alt="business man">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <footer id="footer">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="footer-left">
                                                <p>
                                                    <div class="phone">
                                                        <i class="fa fa-phone"></i>
                                                        +(076) 348385
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                     </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- Slick Slider -->
<script type="text/javascript" src="~/Intensely/assets/js/slick.js"></script>
<!-- mixit slider -->
<script type="text/javascript" src="~/Intensely/assets/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->
<script type="text/javascript" src="~/Intensely/assets/js/jquery.fancybox.pack.js"></script>
<!-- counter -->
<script src="~/Intensely/assets/js/waypoints.js"></script>
<script src="~/Intensely/assets/js/jquery.counterup.js"></script>
<!-- Wow animation -->
<script type="text/javascript" src="~/Intensely/assets/js/wow.js"></script>
<!-- progress bar   -->
<script type="text/javascript" src="~/Intensely/assets/js/bootstrap-progressbar.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="~/Intensely/assets/js/custom.js"></script>
