
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><h3>Crear Turno</h3></div>
                <div class="panel-body">

                    <form action="/Turno/Crear?id=@ViewBag.IdServicio" method="post">

                        <div>
                            <label class="control-label">Dia :</label>
                            <select class="form-control" name="Dia">
                                <option value="Lunes">Lunes</option>
                                <option value="Martes">Martes</option>
                                <option value="Miercoles">Miercoles</option>
                                <option value="Jueves">Jueves</option>
                                <option value="Viernes">Viernes</option>
                                <option value="Sabado">Sabado</option>
                                <option value="Domingo">Domingo</option>
                            </select>
                        </div>

                        <div>
                            <label class="control-label">Hora de ingreso :</label>
                            <input class="form-control" type="time" name="HoraInicio" value="@Model.HoraInicio" />
                            @Html.ValidationMessage("HoraInicio")
                        </div>

                        <div>
                            <label class="control-label">Hora de salida :</label>
                            <input class="form-control" type="time" name="HoraFin" value="@Model.HoraFin" />
                            @Html.ValidationMessage("HoraFin")
                        </div>

                        <br />

                        <button class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span> Guardar</button>


                    </form>
                </div>

            </div>
        </div>

    </div>
</div>